<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/home.css">
    <title>Yorkut</title>
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div id="options">
                <img src="/img/logo.png" alt="logo">
                <a href="">Perfil</a>
                <a href="">Pedidos de amizade</a>
                <a href="">Solicitações de grupo</a>
                <a href="">Sair</a>
            </div>
        </div>
    
        <div id="posts">
            <div id="postlist">
                    
            </div>
            <form>
                <input type="text" name="mensagem">
                <button>Enviar</button>
            </form>
        </div>
        <div id="areas">
            <div id="amigos">
                <form>
                    <input type="text" name="username">
                    <button>Adicionar</button>
                </form>    
                <div id="userlist">
                    
                </div>
            </div>
            <div id="grupos">
                <form>
                    <input type="text" name="groupname">
                    <button>Entrar</button>
                </form> 
                <div id="grouplist">

                </div>

                <div id="func">
                    <a href="">Criar grupo</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>